<!DOCTYPE html>
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    @if (User.IsInRole("Admin"))
    {
        <title>Admin @ViewBag.Title</title>
    }
    else if (User.IsInRole("ApplicationUser"))
    {
        <title>ApplicationUser @ViewBag.Title</title>
    }
    @*else
        {
            <title>@ViewBag.Title</title>
        }*@
    <!-- start: META -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: GOOGLE FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <!-- end: GOOGLE FONTS -->
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="/Content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/vendor/themify-icons/themify-icons.min.css">
    <link href="/Content/vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
    <link href="/Content/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
    <link href="/Content/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">

    <link href="/Content/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
    <!-- end: MAIN CSS -->
    <!-- start: CLIP-TWO CSS -->
    <link rel="stylesheet" href="/Content/assets/css/styles.css">
    <link rel="stylesheet" href="/Content/assets/css/plugins.css">
    <link rel="stylesheet" href="/Content/assets/css/themes/theme-1.css" />
    <!-- end: CLIP-TWO CSS -->
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="/Content/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="/Content/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
    <style>
        input[type="checkbox"] {
            width: 20px; /*Desired width*/
            height: 20px; /*Desired height*/
            cursor: pointer;
        }
    </style>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>
<!-- end: HEAD -->
<body>
    <div id="app">
        <!-- sidebar -->
        @{
            if (User.IsInRole("Admin"))
            {
                Html.RenderPartial("~/Areas/Admin/Views/Shared/_Sidebar.cshtml");
            }
            else if (User.IsInRole("ApplicationUser"))
            {
                if (ViewBag.Title != "Test")
                {
                    Html.RenderPartial("~/Areas/ApplicationUser/Views/Shared/_Sidebar.cshtml");
                }
            }
        }
        <!-- / sidebar -->
        <div class="app-content">
            <!-- start: TOP NAVBAR -->
            <header class="navbar navbar-default navbar-static-top">
                <!-- start: NAVBAR HEADER -->
                <div class="navbar-header" style="border-right: 0px solid #c8c7cc;">
                    <a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
                        <i class="ti-align-justify"></i>
                    </a>
                    <a class="navbar-brand" href="#">
                        <img src="~/Content/assets/images/MTLLogo.png" alt="Mock Test Lab" class="img-responsive" />
                    </a>

                    <a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="ti-view-grid"></i>
                    </a>
                </div>
                <!-- end: NAVBAR HEADER -->
                <!-- start: NAVBAR COLLAPSE -->
                @{ if (User.IsInRole("Admin"))
                    {
                        Html.RenderPartial("~/Areas/Admin/Views/Shared/_TopNavigationBar.cshtml");
                    }
                    else if (User.IsInRole("ApplicationUser"))
                    {
                        if (ViewBag.Title == "Test")
                        {
                            Html.RenderPartial("~/Areas/ApplicationUser/Views/Shared/_TopNavigationBarForTest.cshtml");
                        }
                        else
                        {
                            Html.RenderPartial("~/Areas/ApplicationUser/Views/Shared/_TopNavigationBar.cshtml");
                        }
                    }
                    //else
                    //{
                    //    Html.RenderPartial("~/Views/Shared/_TopNavigationBar.cshtml");
                    //}

                }
                <!-- end: NAVBAR COLLAPSE -->
            </header>
            <!-- end: TOP NAVBAR -->
            @{
                if (User.IsInRole("Admin") || User.IsInRole("ApplicationUser"))
                {
                    if (ViewBag.Title == "Test")
                    {
                        <div class="main-content" style="margin-left:0px;">
                            <div class="wrap-content container" id="container" style="margin-top:0px">
                                <!-- start: YOUR CONTENT HERE -->
                                @RenderBody()
                                <!-- end: YOUR CONTENT HERE -->
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="main-content">
                            <div class="wrap-content container" id="container">
                                @RenderBody()
                                <!-- end: YOUR CONTENT HERE -->
                            </div>
                        </div>
                    }
                }
            }

        </div>
        <!-- start: FOOTER -->
        @{
            if (User.IsInRole("Admin") || User.IsInRole("ApplicationUser"))
            {
                if (ViewBag.Title == "Test")
                {
                    <footer style="margin-left:0px;">
                        <div class="footer-inner">
                            <div class="pull-left">
                                &copy; <span class="current-year"></span><span class="text-bold text-uppercase"> ServiceMadeEasy.Com</span>. <span>All rights reserved</span>
                            </div>
                            <div class="pull-right">
                                <span class="go-top"><i class="ti-angle-up"></i></span>
                            </div>
                        </div>
                    </footer>
                }
                else
                {
                    <footer>
                        <div class="footer-inner">
                            <div class="pull-left">
                                &copy; <span class="current-year"></span><span class="text-bold text-uppercase"> ServiceMadeEasy.Com</span>. <span>All rights reserved</span>
                            </div>
                            <div class="pull-right">
                                <span class="go-top"><i class="ti-angle-up"></i></span>
                            </div>
                        </div>
                    </footer>
                }
            }

        }

        <!-- end: FOOTER -->

    </div>
    <!-- start: MAIN JAVASCRIPTS -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/modernizr/modernizr.js"></script>
    <script src="~/Content/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/Content/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendor/switchery/switchery.min.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="~/Content/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/vendor/autosize/autosize.min.js"></script>
    <script src="~/Content/vendor/selectFx/classie.js"></script>
    <script src="~/Content/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: CLIP-TWO JAVASCRIPTS -->
    <script src="~/Content/assets/js/main.js"></script>
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="~/Content/assets/js/form-elements.js"></script>
    <script>
        jQuery(document).ready(function () {
            Main.init();
            $(".js-example-basic-multiple").select2();
        });
    </script>
    <!-- end: JavaScript Event Handlers for this page -->
    <!-- end: CLIP-TWO JAVASCRIPTS -->

    @RenderSection("scripts", required: false)
    <script>
        $('img').addClass('img-responsive');
    </script>
</body>
</html>
